.tolbar{
background-color:#2D2727;
z-index: 0 !important;
} 
.navIcon{
   padding-left: 2rem;
}
.navItem{
   text-decoration: none;
   color: #ffffff;
}
.speedDialIcon {
   width: 35px;
   height: 35px;
   border-radius: 80%;
   z-index: 10;
 }
 .appbar{
   z-index: 2 !important;
 }
 .imgicon{
   position: fixed;
   z-index: 10 !important;
 }