/* .icons{
    display: flex;
    justify-content: end;
} */
.tolbar{
background-color:#2D2727;
} 
.banner{
    /* overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}