@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap');
:root {
  font-family: 'Josefin Sans', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container{
  padding: 0 3rem 0 3rem;
}
